html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Cabin', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url(../img/churu_salmon.jpg);
  background-size: 480px;
  font-size: 1.6rem;
}