$color_rojo: red;
$color_negro: black;
$color_form: #000;
$color_blanco: white;
$color_ban-h2: rgb(255, 255, 255);
$bkg-color_1: rgb(254, 248, 246);
$bkg-color_2: #008CBA;
$bkg-color_3: #22afde;
$bkg-color_4: #008CBA;
$bkg-color_5: #22afde;
$bkg-color_6: #f0f0f0;
$bkg-color_7: #008CBA;
$bkg-color_8: #22afde;
$bkg-color_9: #008CBA;
$bkg-color_10: #22afde;
$bd-color_1: rgb(199, 199, 199);